n8n-workflow-galatea-research-flow.json
{
  "name": "Galatea Research Flow - 14 Agents",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "galatea-research-flow",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-start",
      "name": "Webhook Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "galatea-research-flow"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.action }}",
              "operation": "equals",
              "value2": "START"
            }
          ]
        }
      },
      "id": "switch-action",
      "name": "Switch: START or APPROVE",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://' + $env.SUPABASE_URL + '/rest/v1/agent_projects?id=eq.' + $json.body.projectId + '&select=*' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_ANON_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-project",
      "name": "Get Project from Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "temperature": 0.3,
          "maxTokens": 4000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres un experto en metodología de investigación clínica especializado en el framework PICOT (Population, Intervention, Comparison, Outcome, Timeframe). Tu tarea es analizar una pregunta de investigación y extraer sus componentes PICOT de manera estructurada y precisa.\n\nINSTRUCCIONES:\n1. Analiza la pregunta de investigación proporcionada\n2. Identifica y extrae cada componente PICOT:\n   - P (Population): Características demográficas, condición médica, edad, género, etc.\n   - I (Intervention): Tratamiento, procedimiento, exposición o intervención de interés\n   - C (Comparison): Grupo control, placebo, tratamiento alternativo o estándar de cuidado\n   - O (Outcome): Medidas de resultado primarias y secundarias (mortalidad, morbilidad, calidad de vida, biomarcadores)\n   - T (Timeframe): Duración del seguimiento, período de observación\n3. Proporciona cada componente en formato JSON estructurado\n4. Asegúrate de que los términos sean específicos, medibles y alineados con MeSH terms cuando sea posible\n\nFORMATO DE RESPUESTA (JSON):\n{\n  \"population\": \"descripción detallada\",\n  \"intervention\": \"descripción detallada\",\n  \"comparison\": \"descripción detallada\",\n  \"outcome\": \"descripción detallada\",\n  \"timeframe\": \"descripción detallada\"\n}"
            },
            {
              "role": "user",
              "content": "Analiza la siguiente pregunta de investigación y extrae los componentes PICOT:\n\n{{ $json.body.idea }}\n\nProyecto ID: {{ $json.body.projectId }}"
            }
          ]
        }
      },
      "id": "agent-1-picot",
      "name": "Agent 1: PICOT Builder",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "temperature": 0.2,
          "maxTokens": 3000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres un evaluador experto en viabilidad de proyectos de investigación clínica usando el framework FINER (Feasible, Interesting, Novel, Ethical, Relevant). Tu tarea es evaluar cada dimensión del proyecto y asignar un score de 0-10 para cada componente.\n\nCRITERIOS DE EVALUACIÓN:\n\n1. FEASIBLE (Factible) - 0-10:\n   - Recursos disponibles (financieros, humanos, tecnológicos)\n   - Tamaño de muestra alcanzable\n   - Tiempo de ejecución realista\n   - Acceso a datos/pacientes\n   - Infraestructura necesaria\n\n2. INTERESTING (Interesante) - 0-10:\n   - Relevancia científica\n   - Potencial de impacto en la práctica clínica\n   - Interés para la comunidad médica\n   - Publicabilidad potencial\n\n3. NOVEL (Novedoso) - 0-10:\n   - Originalidad del enfoque\n   - Gaps en la literatura identificados\n   - Contribución al conocimiento existente\n   - Innovación metodológica\n\n4. ETHICAL (Ético) - 0-10:\n   - Cumplimiento con principios éticos\n   - Riesgo-beneficio favorable\n   - Consentimiento informado apropiado\n   - Aprobación de comité ético factible\n\n5. RELEVANT (Relevante) - 0-10:\n   - Relevancia clínica\n   - Impacto en salud pública\n   - Alineación con prioridades de investigación\n   - Aplicabilidad práctica\n\nFORMATO DE RESPUESTA (JSON):\n{\n  \"feasible\": número 0-10,\n  \"interesting\": número 0-10,\n  \"novel\": número 0-10,\n  \"ethical\": número 0-10,\n  \"relevant\": número 0-10,\n  \"total_score\": suma de los 5 componentes,\n  \"recommendation\": \"proceed\" | \"revise\" | \"reject\",\n  \"rationale\": \"explicación breve\"\n}"
            },
            {
              "role": "user",
              "content": "Evalúa la viabilidad del siguiente proyecto de investigación usando el framework FINER:\n\nPICOT:\nP: {{ $('Get Project from Supabase').item.json[0].picot_population }}\nI: {{ $('Get Project from Supabase').item.json[0].picot_intervention }}\nC: {{ $('Get Project from Supabase').item.json[0].picot_comparison }}\nO: {{ $('Get Project from Supabase').item.json[0].picot_outcome }}\nT: {{ $('Get Project from Supabase').item.json[0].picot_timeframe }}\n\nProyecto: {{ $('Get Project from Supabase').item.json[0].title }}"
            }
          ]
        }
      },
      "id": "agent-2-finer",
      "name": "Agent 2: FINER Validator",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "temperature": 0.4,
          "maxTokens": 5000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres un bibliotecario médico experto en búsqueda de literatura científica. Tu tarea es buscar revisiones sistemáticas existentes sobre el tema de investigación y analizar gaps en la literatura.\n\nINSTRUCCIONES:\n1. Identifica revisiones sistemáticas, meta-análisis y revisiones Cochrane existentes\n2. Evalúa la relevancia de cada revisión (score 0-100)\n3. Calcula el porcentaje de solapamiento con el proyecto actual (0-100%)\n4. Identifica gaps específicos en la literatura\n5. Proporciona recomendaciones sobre si proceder con una nueva revisión\n\nBASES DE DATOS A CONSULTAR:\n- PubMed/MEDLINE\n- Cochrane Library\n- EMBASE\n- PROSPERO (registro de protocolos)\n\nFORMATO DE RESPUESTA (JSON):\n{\n  \"existing_reviews\": [\n    {\n      \"title\": \"título de la revisión\",\n      \"authors\": [\"autor1\", \"autor2\"],\n      \"publication_year\": año,\n      \"journal\": \"nombre del journal\",\n      \"doi\": \"DOI si disponible\",\n      \"pmid\": \"PubMed ID si disponible\",\n      \"review_type\": \"systematic_review\" | \"meta_analysis\" | \"cochrane_review\",\n      \"relevance_score\": 0-100,\n      \"overlap_percentage\": 0-100,\n      \"identified_gaps\": [\"gap1\", \"gap2\"],\n      \"abstract\": \"resumen\",\n      \"key_findings\": \"hallazgos clave\",\n      \"limitations\": \"limitaciones identificadas\",\n      \"source_database\": \"PubMed\" | \"Cochrane\" | \"EMBASE\",\n      \"recommendation\": \"proceed_new_review\" | \"update_existing\" | \"no_new_review_needed\" | \"narrow_scope\"\n    }\n  ]\n}"
            },
            {
              "role": "user",
              "content": "Busca revisiones sistemáticas existentes sobre:\n\nPICOT:\nP: {{ $('Get Project from Supabase').item.json[0].picot_population }}\nI: {{ $('Get Project from Supabase').item.json[0].picot_intervention }}\nC: {{ $('Get Project from Supabase').item.json[0].picot_comparison }}\nO: {{ $('Get Project from Supabase').item.json[0].picot_outcome }}\n\nProyecto: {{ $('Get Project from Supabase').item.json[0].title }}"
            }
          ]
        }
      },
      "id": "agent-3-scout",
      "name": "Agent 3: Literature Scout",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "temperature": 0.3,
          "maxTokens": 2000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres un metodólogo experto en diseño de estudios clínicos. Tu tarea es recomendar el tipo de estudio más apropiado basado en la pregunta PICOT, las revisiones existentes y el score FINER.\n\nTIPOS DE ESTUDIO DISPONIBLES:\n- systematic_review: Para síntesis de evidencia existente\n- meta_analysis: Para análisis cuantitativo de múltiples estudios\n- rct: Randomized Controlled Trial\n- cohort: Estudio de cohortes prospectivo o retrospectivo\n- case_control: Estudio caso-control\n- cross_sectional: Estudio transversal\n- qualitative: Investigación cualitativa\n\nCRITERIOS DE SELECCIÓN:\n1. Tipo de pregunta (efectividad, diagnóstico, pronóstico, etiología)\n2. Evidencia existente (gaps identificados)\n3. Viabilidad (recursos, tiempo, muestra)\n4. Ética y factibilidad\n\nFORMATO DE RESPUESTA (JSON):\n{\n  \"study_type\": \"systematic_review\" | \"meta_analysis\" | \"rct\" | \"cohort\" | \"case_control\" | \"cross_sectional\" | \"qualitative\",\n  \"rationale\": \"justificación detallada de por qué este diseño es el más apropiado\",\n  \"expectedSampleSize\": número estimado,\n  \"statisticalApproach\": \"descripción del enfoque estadístico\"\n}"
            },
            {
              "role": "user",
              "content": "Recomienda el tipo de estudio más apropiado para:\n\nPICOT:\nP: {{ $('Get Project from Supabase').item.json[0].picot_population }}\nI: {{ $('Get Project from Supabase').item.json[0].picot_intervention }}\nC: {{ $('Get Project from Supabase').item.json[0].picot_comparison }}\nO: {{ $('Get Project from Supabase').item.json[0].picot_outcome }}\n\nScore FINER: {{ $('Get Project from Supabase').item.json[0].finer_total_score }}/50\n\nRevisiones existentes encontradas: {{ $('Agent 3: Literature Scout').item.json.response.existing_reviews.length }}"
            }
          ]
        }
      },
      "id": "agent-4-designer",
      "name": "Agent 4: Study Designer",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "temperature": 0.3,
          "maxTokens": 2500
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres un experto en redacción de objetivos de investigación siguiendo los estándares ICMJE (International Committee of Medical Journal Editors). Tu tarea es generar objetivos primarios y secundarios claros, medibles y específicos.\n\nREQUISITOS ICMJE:\n1. Objetivos deben ser SMART (Specific, Measurable, Achievable, Relevant, Time-bound)\n2. Objetivo primario: Uno solo, claramente definido\n3. Objetivos secundarios: Múltiples, relacionados pero distintos\n4. Deben estar alineados con los outcomes del PICOT\n5. Deben ser medibles y evaluables\n\nFORMATO DE RESPUESTA (JSON):\n{\n  \"primary\": \"objetivo primario detallado y medible\",\n  \"secondary\": [\n    \"objetivo secundario 1\",\n    \"objetivo secundario 2\",\n    \"objetivo secundario 3\"\n  ]\n}"
            },
            {
              "role": "user",
              "content": "Genera objetivos primarios y secundarios para:\n\nPICOT:\nP: {{ $('Get Project from Supabase').item.json[0].picot_population }}\nI: {{ $('Get Project from Supabase').item.json[0].picot_intervention }}\nC: {{ $('Get Project from Supabase').item.json[0].picot_comparison }}\nO: {{ $('Get Project from Supabase').item.json[0].picot_outcome }}\n\nTipo de estudio: {{ $('Get Project from Supabase').item.json[0].study_type }}"
            }
          ]
        }
      },
      "id": "agent-5-objectives",
      "name": "Agent 5: Objectives Generator",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "temperature": 0.2,
          "maxTokens": 4000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres un experto en definición de criterios de inclusión y exclusión para revisiones sistemáticas. Tu tarea es crear criterios estructurados, operacionalizables y basados en evidencia.\n\nCATEGORÍAS PICOS:\n- population: Características de la población\n- intervention: Tipo de intervención\n- comparator: Grupo de comparación\n- outcome: Medidas de resultado\n- study_design: Diseño del estudio\n- timeframe: Ventana temporal\n- language: Idioma de publicación\n- publication_type: Tipo de publicación\n\nREQUISITOS:\n1. Criterios deben ser específicos y medibles\n2. Incluir justificación científica (rationale)\n3. Proporcionar operacionalización (cómo se evaluará)\n4. Priorizar criterios (1-5, donde 5 es más importante)\n5. Separar claramente inclusión vs exclusión\n\nFORMATO DE RESPUESTA (JSON):\n{\n  \"criteria\": [\n    {\n      \"criteria_type\": \"inclusion\" | \"exclusion\",\n      \"category\": \"population\" | \"intervention\" | \"comparator\" | \"outcome\" | \"study_design\" | \"timeframe\" | \"language\" | \"publication_type\" | \"other\",\n      \"description\": \"descripción detallada del criterio\",\n      \"rationale\": \"justificación científica\",\n      \"operationalization\": \"cómo se evaluará este criterio\",\n      \"priority\": 1-5\n    }\n  ]\n}"
            },
            {
              "role": "user",
              "content": "Define criterios de inclusión y exclusión para:\n\nPICOT:\nP: {{ $('Get Project from Supabase').item.json[0].picot_population }}\nI: {{ $('Get Project from Supabase').item.json[0].picot_intervention }}\nC: {{ $('Get Project from Supabase').item.json[0].picot_comparison }}\nO: {{ $('Get Project from Supabase').item.json[0].picot_outcome }}\n\nTipo de estudio: {{ $('Get Project from Supabase').item.json[0].study_type }}\nObjetivos: {{ $('Get Project from Supabase').item.json[0].objectives_primary }}"
            }
          ]
        }
      },
      "id": "agent-6-criteria",
      "name": "Agent 6: Criteria Definer",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "temperature": 0.3,
          "maxTokens": 5000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres un bibliotecario médico experto en construcción de estrategias de búsqueda usando la metodología Yadav. Tu tarea es generar strings de búsqueda optimizados para PubMed, Cochrane y EMBASE.\n\nMETODOLOGÍA YADAV:\n1. Identificar términos MeSH (Medical Subject Headings) relevantes\n2. Incluir sinónimos y variantes terminológicas\n3. Combinar términos con operadores booleanos (AND, OR, NOT)\n4. Aplicar filtros apropiados (fecha, idioma, tipo de estudio)\n5. Optimizar para sensibilidad vs especificidad según el tipo de revisión\n\nESTRUCTURA DE BÚSQUEDA:\n- Términos MeSH principales\n- Términos de texto libre\n- Sinónimos y variantes\n- Filtros metodológicos\n- Filtros temporales\n\nFORMATO DE RESPUESTA (JSON):\n{\n  \"pubmed\": \"string de búsqueda completo para PubMed\",\n  \"cochrane\": \"string de búsqueda completo para Cochrane Library\",\n  \"embase\": \"string de búsqueda completo para EMBASE\",\n  \"other\": {\n    \"database_name\": \"string de búsqueda\"\n  },\n  \"mesh_terms\": [\"término1\", \"término2\"],\n  \"expected_results\": \"estimación de resultados esperados\"\n}"
            },
            {
              "role": "user",
              "content": "Genera estrategias de búsqueda Yadav para:\n\nPICOT:\nP: {{ $('Get Project from Supabase').item.json[0].picot_population }}\nI: {{ $('Get Project from Supabase').item.json[0].picot_intervention }}\nC: {{ $('Get Project from Supabase').item.json[0].picot_comparison }}\nO: {{ $('Get Project from Supabase').item.json[0].picot_outcome }}\n\nCriterios de inclusión/exclusión: {{ JSON.stringify($('Get Project from Supabase').item.json[0].study_criteria) }}"
            }
          ]
        }
      },
      "id": "agent-7-yadav",
      "name": "Agent 7: Yadav Search Strategist",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "temperature": 0.4,
          "maxTokens": 8000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres un experto en síntesis de protocolos de investigación clínica siguiendo estándares PRISMA-P (Preferred Reporting Items for Systematic Reviews and Meta-Analyses - Protocols). Tu tarea es generar un protocolo completo de ~40 páginas en formato PDF listo para registro en PROSPERO.\n\nSECCIONES REQUERIDAS (PRISMA-P):\n1. Título y Resumen\n2. Introducción (Justificación, Objetivos)\n3. Métodos:\n   - Criterios de elegibilidad\n   - Estrategias de búsqueda\n   - Selección de estudios\n   - Extracción de datos\n   - Evaluación de riesgo de sesgo\n   - Síntesis de datos\n4. Plan de análisis\n5. Ética y divulgación\n6. Referencias\n\nREQUISITOS:\n- Formato académico profesional\n- Cumplimiento con PRISMA-P checklist\n- Listo para registro en PROSPERO\n- ~40 páginas\n- Incluir todos los datos recopilados de los agentes anteriores\n\nFORMATO DE RESPUESTA (JSON):\n{\n  \"pdf_url\": \"URL del PDF generado\",\n  \"sections\": [\"lista de secciones incluidas\"],\n  \"page_count\": número,\n  \"prospero_ready\": true\n}"
            },
            {
              "role": "user",
              "content": "Genera el protocolo completo PRISMA-P para:\n\nTítulo: {{ $('Get Project from Supabase').item.json[0].title }}\nPregunta: {{ $('Get Project from Supabase').item.json[0].research_question }}\n\nPICOT:\nP: {{ $('Get Project from Supabase').item.json[0].picot_population }}\nI: {{ $('Get Project from Supabase').item.json[0].picot_intervention }}\nC: {{ $('Get Project from Supabase').item.json[0].picot_comparison }}\nO: {{ $('Get Project from Supabase').item.json[0].picot_outcome }}\nT: {{ $('Get Project from Supabase').item.json[0].picot_timeframe }}\n\nFINER Score: {{ $('Get Project from Supabase').item.json[0].finer_total_score }}/50\nTipo de estudio: {{ $('Get Project from Supabase').item.json[0].study_type }}\nObjetivos: {{ $('Get Project from Supabase').item.json[0].objectives_primary }}\nEstrategias de búsqueda: {{ $('Get Project from Supabase').item.json[0].search_strategy_pubmed }}"
            }
          ]
        }
      },
      "id": "agent-8-protocol",
      "name": "Agent 8: Protocol Synthesizer",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [2250, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "agent_projects",
        "id": "={{ $json.body.projectId }}",
        "fields": {
          "mappingMode": "defineBelow",
          "value": {
            "phase": "AWAITING_APPROVAL",
            "protocol_pdf_url": "={{ $('Agent 8: Protocol Synthesizer').item.json.response.pdf_url }}",
            "protocol_generated_at": "={{ $now }}"
          }
        }
      },
      "id": "update-phase1-complete",
      "name": "Update: AWAITING_APPROVAL",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2450, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "agent_outputs",
        "fields": {
          "mappingMode": "defineBelow",
          "value": {
            "project_id": "={{ $json.body.projectId }}",
            "agent_number": 8,
            "agent_name": "protocol_synthesizer",
            "output_data": "={{ $('Agent 8: Protocol Synthesizer').item.json.response }}",
            "output_markdown": "={{ JSON.stringify($('Agent 8: Protocol Synthesizer').item.json.response) }}"
          }
        }
      },
      "id": "save-agent-8-output",
      "name": "Save Agent 8 Output",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2650, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.action }}",
              "operation": "equals",
              "value2": "APPROVE"
            }
          ]
        }
      },
      "id": "switch-approve",
      "name": "Switch: APPROVE Path",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://' + $env.SUPABASE_URL + '/rest/v1/agent_projects?id=eq.' + $json.body.projectId + '&select=*' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_ANON_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-project-phase2",
      "name": "Get Project for Phase 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "temperature": 0.2,
          "maxTokens": 3000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres un experto en ejecución de búsquedas bibliográficas en bases de datos médicas. Tu tarea es ejecutar las estrategias de búsqueda generadas y recopilar todos los resultados.\n\nINSTRUCCIONES:\n1. Ejecuta las búsquedas en PubMed, Cochrane y EMBASE usando las estrategias proporcionadas\n2. Recopila metadatos completos de cada artículo (título, autores, año, DOI, PMID, abstract)\n3. Organiza los resultados por base de datos\n4. Genera el conteo inicial para el diagrama PRISMA\n\nFORMATO DE RESPUESTA (JSON):\n{\n  \"prisma_records\": {\n    \"identified\": {\n      \"pubmed\": número,\n      \"cochrane\": número,\n      \"embase\": número,\n      \"total\": número\n    },\n    \"records\": [\n      {\n        \"title\": \"título\",\n        \"authors\": [\"autor1\"],\n        \"year\": año,\n        \"doi\": \"DOI\",\n        \"pmid\": \"PMID\",\n        \"abstract\": \"resumen\",\n        \"source_database\": \"PubMed\" | \"Cochrane\" | \"EMBASE\"\n      }\n    ]\n  }\n}"
            },
            {
              "role": "user",
              "content": "Ejecuta las búsquedas bibliográficas:\n\nPubMed: {{ $('Get Project for Phase 2').item.json[0].search_strategy_pubmed }}\nCochrane: {{ $('Get Project for Phase 2').item.json[0].search_strategy_cochrane }}\nEMBASE: {{ $('Get Project for Phase 2').item.json[0].search_strategy_embase }}"
            }
          ]
        }
      },
      "id": "agent-9-searcher",
      "name": "Agent 9: Search Executor",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "temperature": 0.1,
          "maxTokens": 2000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres un experto en detección de duplicados en búsquedas bibliográficas. Tu tarea es identificar y eliminar registros duplicados entre diferentes bases de datos.\n\nMÉTODOS DE DETECCIÓN:\n1. Comparación por DOI (más confiable)\n2. Comparación por PMID\n3. Comparación por título y autores (fuzzy matching)\n4. Comparación por año y journal\n\nFORMATO DE RESPUESTA (JSON):\n{\n  \"prisma_records\": {\n    \"after_duplicates\": {\n      \"total\": número,\n      \"duplicates_removed\": número\n    },\n    \"records\": [\"lista de registros únicos\"]\n  }\n}"
            },
            {
              "role": "user",
              "content": "Elimina duplicados de los siguientes registros:\n\n{{ JSON.stringify($('Agent 9: Search Executor').item.json.response.prisma_records.records) }}"
            }
          ]
        }
      },
      "id": "agent-10-duplicates",
      "name": "Agent 10: Duplicate Remover",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "temperature": 0.2,
          "maxTokens": 1500
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres un experto en diagramas de flujo PRISMA. Tu tarea es actualizar el diagrama PRISMA en tiempo real con los números de cada etapa.\n\nETAPAS PRISMA:\n1. Identificación (búsquedas en bases de datos)\n2. Eliminación de duplicados\n3. Screening (títulos y resúmenes)\n4. Elegibilidad (texto completo)\n5. Inclusión (estudios finales)\n\nFORMATO DE RESPUESTA (JSON):\n{\n  \"prisma_data\": {\n    \"identified\": número,\n    \"after_duplicates\": número,\n    \"screened\": número,\n    \"assessed_for_eligibility\": número,\n    \"included\": número,\n    \"excluded\": {\n      \"reasons\": [\"razón1\", \"razón2\"]\n    }\n  }\n}"
            },
            {
              "role": "user",
              "content": "Actualiza el diagrama PRISMA:\n\nIdentificados: {{ $('Agent 9: Search Executor').item.json.response.prisma_records.identified.total }}\nDespués de duplicados: {{ $('Agent 10: Duplicate Remover').item.json.response.prisma_records.after_duplicates.total }}"
            }
          ]
        }
      },
      "id": "agent-11-prisma",
      "name": "Agent 11: PRISMA Updater",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "temperature": 0.2,
          "maxTokens": 4000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres un experto en evaluación de títulos y resúmenes para aplicación de criterios de inclusión/exclusión. Tu tarea es evaluar cada artículo y determinar si cumple los criterios.\n\nPROCESO:\n1. Lee título y resumen de cada artículo\n2. Evalúa contra cada criterio de inclusión\n3. Evalúa contra cada criterio de exclusión\n4. Toma decisión: INCLUIR, EXCLUIR, o NECESITA REVISIÓN DE TEXTO COMPLETO\n5. Documenta la razón de exclusión si aplica\n\nFORMATO DE RESPUESTA (JSON):\n{\n  \"prisma_records\": {\n    \"screened\": {\n      \"total\": número,\n      \"included\": número,\n      \"excluded\": número,\n      \"needs_fulltext\": número\n    },\n    \"decisions\": [\n      {\n        \"title\": \"título del artículo\",\n        \"decision\": \"INCLUDE\" | \"EXCLUDE\" | \"NEEDS_FULLTEXT\",\n        \"exclusion_reason\": \"razón si se excluye\",\n        \"criteria_violated\": [\"criterio1\", \"criterio2\"]\n      }\n    ]\n  }\n}"
            },
            {
              "role": "user",
              "content": "Evalúa los siguientes artículos aplicando los criterios:\n\nCriterios de inclusión: {{ JSON.stringify($('Get Project for Phase 2').item.json[0].study_criteria.filter(c => c.criteria_type === 'inclusion')) }}\nCriterios de exclusión: {{ JSON.stringify($('Get Project for Phase 2').item.json[0].study_criteria.filter(c => c.criteria_type === 'exclusion')) }}\n\nArtículos a evaluar: {{ JSON.stringify($('Agent 10: Duplicate Remover').item.json.response.prisma_records.records) }}"
            }
          ]
        }
      },
      "id": "agent-12-evaluator",
      "name": "Agent 12: Paper Evaluator",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "temperature": 0.2,
          "maxTokens": 6000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres un experto en extracción de datos estructurados de estudios clínicos. Tu tarea es extraer datos cuantitativos y cualitativos de los estudios incluidos en formato estructurado.\n\nDATOS A EXTRAER:\n1. Características del estudio (diseño, país, año, duración)\n2. Características de participantes (n, edad, género, criterios)\n3. Intervención (tipo, dosis, frecuencia, duración)\n4. Comparador (placebo, tratamiento activo, etc.)\n5. Outcomes (medidas primarias y secundarias)\n6. Resultados numéricos (RR, OR, HR, IC95%, p-values)\n7. Evaluación de riesgo de sesgo (RoB 2.0)\n\nFORMATO DE SALIDA:\n- Excel/CSV con columnas estructuradas\n- JSON con datos anidados\n\nFORMATO DE RESPUESTA (JSON):\n{\n  \"extracted_data_url\": \"URL del archivo Excel/JSON generado\",\n  \"extracted_data\": [\n    {\n      \"study_id\": \"ID único\",\n      \"title\": \"título\",\n      \"design\": \"tipo de diseño\",\n      \"n_participants\": número,\n      \"intervention\": \"descripción\",\n      \"comparator\": \"descripción\",\n      \"outcomes\": {\n        \"primary\": {\n          \"name\": \"nombre del outcome\",\n          \"intervention_group\": {\n            \"n\": número,\n            \"value\": número o porcentaje\n          },\n          \"comparator_group\": {\n            \"n\": número,\n            \"value\": número o porcentaje\n          },\n          \"effect_measure\": {\n            \"type\": \"RR\" | \"OR\" | \"HR\",\n            \"value\": número,\n            \"ci_lower\": número,\n            \"ci_upper\": número,\n            \"p_value\": número\n          }\n        }\n      },\n      \"risk_of_bias\": {\n        \"overall\": \"low\" | \"some_concerns\" | \"high\",\n        \"domains\": {\"domain1\": \"rating\"}\n      }\n    }\n  ]\n}"
            },
            {
              "role": "user",
              "content": "Extrae datos estructurados de los estudios incluidos:\n\nEstudios incluidos: {{ JSON.stringify($('Agent 12: Paper Evaluator').item.json.response.prisma_records.decisions.filter(d => d.decision === 'INCLUDE')) }}"
            }
          ]
        }
      },
      "id": "agent-13-extractor",
      "name": "Agent 13: Data Extractor",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "temperature": 0.3,
          "maxTokens": 8000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres un experto en síntesis de evidencia y meta-análisis. Tu tarea es generar el reporte final de la revisión sistemática con meta-análisis cuantitativo cuando sea apropiado.\n\nSECCIONES DEL REPORTE:\n1. Resumen Ejecutivo\n2. Introducción y Antecedentes\n3. Métodos (PRISMA compliant)\n4. Resultados:\n   - Diagrama PRISMA\n   - Características de estudios incluidos\n   - Evaluación de riesgo de sesgo\n   - Resultados del meta-análisis (forest plots)\n   - Análisis de sensibilidad\n   - Análisis de subgrupos\n5. Discusión\n6. Conclusiones\n7. Referencias\n\nMETA-ANÁLISIS:\n- Calcular Risk Ratio (RR), Odds Ratio (OR) o Hazard Ratio (HR)\n- Intervalos de confianza al 95%\n- Valores p\n- I² para heterogeneidad\n- Forest plots en texto/ASCII\n- Análisis de sensibilidad\n\nFORMATO DE RESPUESTA (JSON):\n{\n  \"final_report_url\": \"URL del PDF del reporte final\",\n  \"meta_analysis\": {\n    \"primary_outcome\": {\n      \"effect_measure\": \"RR\" | \"OR\" | \"HR\",\n      \"value\": número,\n      \"ci_95_lower\": número,\n      \"ci_95_upper\": número,\n      \"p_value\": número,\n      \"i_squared\": número (porcentaje),\n      \"studies_included\": número\n    },\n    \"forest_plot_ascii\": \"representación ASCII del forest plot\"\n  },\n  \"summary\": \"resumen ejecutivo\"\n}"
            },
            {
              "role": "user",
              "content": "Genera el reporte final con meta-análisis:\n\nDatos extraídos: {{ $('Agent 13: Data Extractor').item.json.response.extracted_data_url }}\nDiagrama PRISMA: {{ JSON.stringify($('Agent 11: PRISMA Updater').item.json.response.prisma_data) }}\n\nPregunta de investigación: {{ $('Get Project for Phase 2').item.json[0].research_question }}"
            }
          ]
        }
      },
      "id": "agent-14-synthesis",
      "name": "Agent 14: Synthesis Writer",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [1850, 400]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "agent_projects",
        "id": "={{ $json.body.projectId }}",
        "fields": {
          "mappingMode": "defineBelow",
          "value": {
            "phase": "COMPLETED",
            "final_report_url": "={{ $('Agent 14: Synthesis Writer').item.json.response.final_report_url }}",
            "prisma_data": "={{ $('Agent 11: PRISMA Updater').item.json.response.prisma_data }}",
            "extracted_data_url": "={{ $('Agent 13: Data Extractor').item.json.response.extracted_data_url }}"
          }
        }
      },
      "id": "update-phase2-complete",
      "name": "Update: COMPLETED",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2050, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, projectId: $json.body.projectId, phase: 'COMPLETED', message: 'Revisión sistemática completada exitosamente' } }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2250, 300]
    }
  ],
  "connections": {
    "Webhook Entry": {
      "main": [
        [
          {
            "node": "Switch: START or APPROVE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: START or APPROVE": {
      "main": [
        [
          {
            "node": "Get Project from Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch: APPROVE Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project from Supabase": {
      "main": [
        [
          {
            "node": "Agent 1: PICOT Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 1: PICOT Builder": {
      "main": [
        [
          {
            "node": "Agent 2: FINER Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 2: FINER Validator": {
      "main": [
        [
          {
            "node": "Agent 3: Literature Scout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 3: Literature Scout": {
      "main": [
        [
          {
            "node": "Agent 4: Study Designer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 4: Study Designer": {
      "main": [
        [
          {
            "node": "Agent 5: Objectives Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 5: Objectives Generator": {
      "main": [
        [
          {
            "node": "Agent 6: Criteria Definer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 6: Criteria Definer": {
      "main": [
        [
          {
            "node": "Agent 7: Yadav Search Strategist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 7: Yadav Search Strategist": {
      "main": [
        [
          {
            "node": "Agent 8: Protocol Synthesizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 8: Protocol Synthesizer": {
      "main": [
        [
          {
            "node": "Update: AWAITING_APPROVAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: AWAITING_APPROVAL": {
      "main": [
        [
          {
            "node": "Save Agent 8 Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Agent 8 Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: APPROVE Path": {
      "main": [
        [
          {
            "node": "Get Project for Phase 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Project for Phase 2": {
      "main": [
        [
          {
            "node": "Agent 9: Search Executor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 9: Search Executor": {
      "main": [
        [
          {
            "node": "Agent 10: Duplicate Remover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 10: Duplicate Remover": {
      "main": [
        [
          {
            "node": "Agent 11: PRISMA Updater",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 11: PRISMA Updater": {
      "main": [
        [
          {
            "node": "Agent 12: Paper Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 12: Paper Evaluator": {
      "main": [
        [
          {
            "node": "Agent 13: Data Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 13: Data Extractor": {
      "main": [
        [
          {
            "node": "Agent 14: Synthesis Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent 14: Synthesis Writer": {
      "main": [
        [
          {
            "node": "Update: COMPLETED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: COMPLETED": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-13T00:00:00.000Z",
  "versionId": "1"
}
