n8n/galatea-research-flow.json
{
  "name": "Galatea Research Flow - 14 Agentes",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "galatea-research-flow",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-entry",
      "name": "Webhook Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "galatea-research-flow"
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "value": "START",
              "outputKey": "START"
            },
            {
              "value": "APPROVE",
              "outputKey": "APPROVE"
            }
          ]
        },
        "dataPropertyName": "={{$json.body.action}}"
      },
      "id": "switch-action",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{$json.body.projectId}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"processing\",\n  \"phase\": \"PROTOCOL_GENERATION\",\n  \"current_agent_step\": 1,\n  \"idea\": \"{{$json.body.idea}}\",\n  \"research_question\": \"{{$json.body.idea}}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "init-project",
      "name": "Init Project Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "modelId": { "value": "claude-sonnet-4-20250514" },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Analiza la siguiente pregunta de investigación y estructúrala usando el framework PICOT.\n\nPregunta: {{$json.body.idea}}\n\nResponde SOLO con un JSON válido con esta estructura exacta:\n{\n  \"population\": \"descripción de la población\",\n  \"intervention\": \"descripción de la intervención\",\n  \"comparison\": \"descripción del comparador\",\n  \"outcome\": \"descripción del outcome primario\",\n  \"timeframe\": \"período de tiempo del estudio\",\n  \"formatted_question\": \"pregunta PICOT formateada\"\n}"
            }
          ]
        },
        "options": {
          "systemMessage": "Eres un experto en metodología de investigación clínica y revisiones sistemáticas. Tu especialidad es estructurar preguntas de investigación usando el framework PICOT (Population, Intervention, Comparison, Outcome, Timeframe). Debes analizar preguntas en lenguaje natural y extraer cada componente PICOT de manera precisa y científica. Siempre responde en español. Responde ÚNICAMENTE con JSON válido, sin texto adicional."
        }
      },
      "id": "agent-1-picot",
      "name": "Agent 1: PICOT Builder",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [660, 100],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-api",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet picotData;\n\ntry {\n  // Intentar parsear la respuesta del LLM\n  const content = response.message?.content || response.content || response;\n  if (typeof content === 'string') {\n    // Extraer JSON del texto\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    picotData = jsonMatch ? JSON.parse(jsonMatch[0]) : JSON.parse(content);\n  } else {\n    picotData = content;\n  }\n} catch (e) {\n  picotData = {\n    population: 'No identificado',\n    intervention: 'No identificado',\n    comparison: 'No identificado',\n    outcome: 'No identificado',\n    timeframe: 'No especificado'\n  };\n}\n\nreturn {\n  projectId: $('Webhook Entry').first().json.body.projectId,\n  agentNumber: 1,\n  agentName: 'picot_builder',\n  picot: picotData,\n  output: `## Análisis PICOT\\n\\n**Población (P):** ${picotData.population}\\n\\n**Intervención (I):** ${picotData.intervention}\\n\\n**Comparación (C):** ${picotData.comparison}\\n\\n**Outcome (O):** ${picotData.outcome}\\n\\n**Tiempo (T):** ${picotData.timeframe}`\n};"
      },
      "id": "parse-agent-1",
      "name": "Parse Agent 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_outputs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_id\": \"{{$json.projectId}}\",\n  \"agent_number\": 1,\n  \"agent_name\": \"picot_builder\",\n  \"output_data\": {{JSON.stringify($json.picot)}},\n  \"output_markdown\": \"{{$json.output.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n')}}\",\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "save-agent-1",
      "name": "Save Agent 1 Output",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{$json.projectId}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"current_agent_step\": 2,\n  \"picot_population\": \"{{$json.picot.population}}\",\n  \"picot_intervention\": \"{{$json.picot.intervention}}\",\n  \"picot_comparison\": \"{{$json.picot.comparison}}\",\n  \"picot_outcome\": \"{{$json.picot.outcome}}\",\n  \"picot_timeframe\": \"{{$json.picot.timeframe}}\"\n}",
        "options": {}
      },
      "id": "update-project-1",
      "name": "Update Project Agent 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "modelId": { "value": "claude-sonnet-4-20250514" },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Evalúa la siguiente pregunta de investigación usando el framework FINER.\n\nPICOT:\n- Población: {{$json.picot.population}}\n- Intervención: {{$json.picot.intervention}}\n- Comparación: {{$json.picot.comparison}}\n- Outcome: {{$json.picot.outcome}}\n- Tiempo: {{$json.picot.timeframe}}\n\nCalifica cada criterio del 0 al 10 y responde SOLO con JSON:\n{\n  \"feasible\": <0-10>,\n  \"interesting\": <0-10>,\n  \"novel\": <0-10>,\n  \"ethical\": <0-10>,\n  \"relevant\": <0-10>,\n  \"total_score\": <suma>,\n  \"recommendation\": \"proceed|revise|reject\",\n  \"justification\": \"explicación breve\"\n}"
            }
          ]
        },
        "options": {
          "systemMessage": "Eres un evaluador experto de proyectos de investigación clínica. Usas el framework FINER para evaluar la viabilidad de estudios:\n- Feasible (Factible): ¿Es realizable con los recursos disponibles?\n- Interesting (Interesante): ¿Aporta al conocimiento científico?\n- Novel (Novedoso): ¿Hay suficiente gap en la literatura?\n- Ethical (Ético): ¿Cumple con principios éticos?\n- Relevant (Relevante): ¿Tiene impacto clínico real?\n\nCalifica objetivamente cada dimensión del 0-10. Score ≥35 = proceed, 25-34 = revise, <25 = reject. Responde SOLO con JSON válido."
        }
      },
      "id": "agent-2-finer",
      "name": "Agent 2: FINER Validator",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [1540, 100],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-api",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst prevData = $('Parse Agent 1').first().json;\nlet finerData;\n\ntry {\n  const content = response.message?.content || response.content || response;\n  if (typeof content === 'string') {\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    finerData = jsonMatch ? JSON.parse(jsonMatch[0]) : JSON.parse(content);\n  } else {\n    finerData = content;\n  }\n} catch (e) {\n  finerData = { feasible: 7, interesting: 7, novel: 7, ethical: 8, relevant: 7, total_score: 36, recommendation: 'proceed' };\n}\n\nreturn {\n  projectId: prevData.projectId,\n  agentNumber: 2,\n  agentName: 'finer_validator',\n  picot: prevData.picot,\n  finer: finerData,\n  output: `## Evaluación FINER\\n\\n| Criterio | Score |\\n|----------|-------|\\n| Factible | ${finerData.feasible}/10 |\\n| Interesante | ${finerData.interesting}/10 |\\n| Novedoso | ${finerData.novel}/10 |\\n| Ético | ${finerData.ethical}/10 |\\n| Relevante | ${finerData.relevant}/10 |\\n\\n**Total: ${finerData.total_score}/50**\\n\\n**Recomendación:** ${finerData.recommendation}\\n\\n${finerData.justification || ''}`\n};"
      },
      "id": "parse-agent-2",
      "name": "Parse Agent 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_outputs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_id\": \"{{$json.projectId}}\",\n  \"agent_number\": 2,\n  \"agent_name\": \"finer_validator\",\n  \"output_data\": {{JSON.stringify($json.finer)}},\n  \"output_markdown\": \"{{$json.output.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n')}}\",\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "save-agent-2",
      "name": "Save Agent 2 Output",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{$json.projectId}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"current_agent_step\": 3,\n  \"finer_feasible\": {{$json.finer.feasible}},\n  \"finer_interesting\": {{$json.finer.interesting}},\n  \"finer_novel\": {{$json.finer.novel}},\n  \"finer_ethical\": {{$json.finer.ethical}},\n  \"finer_relevant\": {{$json.finer.relevant}},\n  \"finer_total_score\": {{$json.finer.total_score}}\n}",
        "options": {}
      },
      "id": "update-project-2",
      "name": "Update Project Agent 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "modelId": { "value": "claude-sonnet-4-20250514" },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Busca revisiones sistemáticas existentes relacionadas con este tema PICOT:\n\n- Población: {{$json.picot.population}}\n- Intervención: {{$json.picot.intervention}}\n- Outcome: {{$json.picot.outcome}}\n\nGenera términos MeSH apropiados y simula una búsqueda en PubMed. Identifica gaps en la literatura.\n\nResponde SOLO con JSON:\n{\n  \"mesh_terms\": [\"term1\", \"term2\"],\n  \"pubmed_query\": \"query string\",\n  \"existing_reviews\": [\n    {\n      \"title\": \"título\",\n      \"authors\": [\"autor1\"],\n      \"year\": 2023,\n      \"pmid\": \"12345678\",\n      \"relevance_score\": 85,\n      \"identified_gaps\": [\"gap1\", \"gap2\"]\n    }\n  ],\n  \"recommendation\": \"proceed_new_review|update_existing|narrow_scope\",\n  \"gap_analysis\": \"análisis de gaps\"\n}"
            }
          ]
        },
        "options": {
          "systemMessage": "Eres un bibliotecario médico experto en búsquedas sistemáticas de literatura. Tu especialidad incluye:\n- Construcción de términos MeSH (Medical Subject Headings)\n- Estrategias de búsqueda en PubMed, Cochrane, Embase\n- Identificación de revisiones sistemáticas existentes\n- Análisis de gaps en la literatura científica\n\nDebes evaluar si ya existen revisiones que respondan la pregunta PICOT y recomendar si proceder con una nueva revisión, actualizar una existente, o acotar el alcance. Responde SOLO con JSON válido."
        }
      },
      "id": "agent-3-literature",
      "name": "Agent 3: Literature Scout",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [2420, 100],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-api",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst prevData = $('Parse Agent 2').first().json;\nlet litData;\n\ntry {\n  const content = response.message?.content || response.content || response;\n  if (typeof content === 'string') {\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    litData = jsonMatch ? JSON.parse(jsonMatch[0]) : JSON.parse(content);\n  } else {\n    litData = content;\n  }\n} catch (e) {\n  litData = { existing_reviews: [], recommendation: 'proceed_new_review', gap_analysis: 'No se encontraron revisiones previas relevantes.' };\n}\n\nconst reviewsList = (litData.existing_reviews || []).map(r => \n  `- **${r.title}** (${r.year}) - Relevancia: ${r.relevance_score}%`\n).join('\\n');\n\nreturn {\n  projectId: prevData.projectId,\n  agentNumber: 3,\n  agentName: 'literature_scout',\n  picot: prevData.picot,\n  finer: prevData.finer,\n  literature: litData,\n  output: `## Exploración de Literatura\\n\\n### Términos MeSH\\n${(litData.mesh_terms || []).join(', ')}\\n\\n### Query PubMed\\n\\`${litData.pubmed_query || 'N/A'}\\`\\n\\n### Revisiones Existentes\\n${reviewsList || 'No se encontraron revisiones previas.'}\\n\\n### Análisis de Gaps\\n${litData.gap_analysis}\\n\\n**Recomendación:** ${litData.recommendation}`\n};"
      },
      "id": "parse-agent-3",
      "name": "Parse Agent 3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_outputs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_id\": \"{{$json.projectId}}\",\n  \"agent_number\": 3,\n  \"agent_name\": \"literature_scout\",\n  \"output_data\": {{JSON.stringify($json.literature)}},\n  \"output_markdown\": \"{{$json.output.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n')}}\",\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "save-agent-3",
      "name": "Save Agent 3 Output",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2860, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{$json.projectId}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"current_agent_step\": 4\n}",
        "options": {}
      },
      "id": "update-project-3",
      "name": "Update Project Agent 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3080, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "modelId": { "value": "claude-sonnet-4-20250514" },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Basándote en el análisis PICOT y la evaluación FINER, determina el tipo de estudio más apropiado.\n\nPICOT:\n- P: {{$json.picot.population}}\n- I: {{$json.picot.intervention}}\n- C: {{$json.picot.comparison}}\n- O: {{$json.picot.outcome}}\n\nFINER Score: {{$json.finer.total_score}}/50\n\nResponde SOLO con JSON:\n{\n  \"study_type\": \"systematic_review|meta_analysis|rct|cohort|case_control\",\n  \"rationale\": \"justificación del diseño elegido\",\n  \"statistical_approach\": \"enfoque estadístico recomendado\",\n  \"expected_duration\": \"duración estimada\"\n}"
            }
          ]
        },
        "options": {
          "systemMessage": "Eres un metodólogo de investigación clínica experto en diseño de estudios. Conoces profundamente:\n- Jerarquía de evidencia (Oxford, GRADE)\n- Tipos de revisiones sistemáticas (cualitativas, cuantitativas, mixtas)\n- Meta-análisis (efectos fijos, efectos aleatorios, network)\n- Estudios primarios (RCT, cohortes, casos-controles)\n\nDebes recomendar el diseño más apropiado basándote en la pregunta PICOT, la viabilidad (FINER), y los recursos disponibles. Responde SOLO con JSON válido."
        }
      },
      "id": "agent-4-design",
      "name": "Agent 4: Study Designer",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [3300, 100],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-api",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst prevData = $('Parse Agent 3').first().json;\nlet designData;\n\ntry {\n  const content = response.message?.content || response.content || response;\n  if (typeof content === 'string') {\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    designData = jsonMatch ? JSON.parse(jsonMatch[0]) : JSON.parse(content);\n  } else {\n    designData = content;\n  }\n} catch (e) {\n  designData = { study_type: 'systematic_review', rationale: 'Diseño por defecto', statistical_approach: 'Meta-análisis de efectos aleatorios' };\n}\n\nconst typeNames = {\n  'systematic_review': 'Revisión Sistemática',\n  'meta_analysis': 'Meta-análisis',\n  'rct': 'Ensayo Clínico Aleatorizado',\n  'cohort': 'Estudio de Cohorte',\n  'case_control': 'Estudio de Casos y Controles'\n};\n\nreturn {\n  projectId: prevData.projectId,\n  agentNumber: 4,\n  agentName: 'study_designer',\n  picot: prevData.picot,\n  finer: prevData.finer,\n  literature: prevData.literature,\n  design: designData,\n  output: `## Diseño del Estudio\\n\\n**Tipo de Estudio:** ${typeNames[designData.study_type] || designData.study_type}\\n\\n### Justificación\\n${designData.rationale}\\n\\n### Enfoque Estadístico\\n${designData.statistical_approach}\\n\\n### Duración Estimada\\n${designData.expected_duration || 'A determinar'}`\n};"
      },
      "id": "parse-agent-4",
      "name": "Parse Agent 4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3520, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_outputs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_id\": \"{{$json.projectId}}\",\n  \"agent_number\": 4,\n  \"agent_name\": \"study_designer\",\n  \"output_data\": {{JSON.stringify($json.design)}},\n  \"output_markdown\": \"{{$json.output.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n')}}\",\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "save-agent-4",
      "name": "Save Agent 4 Output",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3740, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": [{ "name": "id", "value": "=eq.{{$json.projectId}}" }],
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"current_agent_step\": 5,\n  \"study_type\": \"{{$json.design.study_type}}\"\n}",
        "options": {}
      },
      "id": "update-project-4",
      "name": "Update Project Agent 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3960, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "modelId": { "value": "claude-sonnet-4-20250514" },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Genera los objetivos de investigación siguiendo estándares ICMJE.\n\nPICOT:\n- P: {{$json.picot.population}}\n- I: {{$json.picot.intervention}}\n- C: {{$json.picot.comparison}}\n- O: {{$json.picot.outcome}}\n\nTipo de estudio: {{$json.design.study_type}}\n\nResponde SOLO con JSON:\n{\n  \"primary_objective\": \"objetivo primario claro y medible\",\n  \"secondary_objectives\": [\"objetivo secundario 1\", \"objetivo secundario 2\"],\n  \"hypotheses\": {\n    \"null\": \"hipótesis nula\",\n    \"alternative\": \"hipótesis alternativa\"\n  }\n}"
            }
          ]
        },
        "options": {
          "systemMessage": "Eres un experto en redacción de protocolos de investigación siguiendo las guías ICMJE (International Committee of Medical Journal Editors). Sabes formular:\n- Objetivos primarios SMART (Específicos, Medibles, Alcanzables, Relevantes, Temporales)\n- Objetivos secundarios exploratorios\n- Hipótesis nula y alternativa\n\nLos objetivos deben ser claros, concisos y directamente derivados del PICOT. Responde SOLO con JSON válido."
        }
      },
      "id": "agent-5-objectives",
      "name": "Agent 5: Objectives Generator",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [4180, 100],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-api",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst prevData = $('Parse Agent 4').first().json;\nlet objData;\n\ntry {\n  const content = response.message?.content || response.content || response;\n  if (typeof content === 'string') {\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    objData = jsonMatch ? JSON.parse(jsonMatch[0]) : JSON.parse(content);\n  } else {\n    objData = content;\n  }\n} catch (e) {\n  objData = { primary_objective: 'Evaluar la efectividad de la intervención', secondary_objectives: [] };\n}\n\nconst secondaryList = (objData.secondary_objectives || []).map((o, i) => `${i+1}. ${o}`).join('\\n');\n\nreturn {\n  projectId: prevData.projectId,\n  agentNumber: 5,\n  agentName: 'objectives_generator',\n  picot: prevData.picot,\n  finer: prevData.finer,\n  literature: prevData.literature,\n  design: prevData.design,\n  objectives: objData,\n  output: `## Objetivos de Investigación\\n\\n### Objetivo Primario\\n${objData.primary_objective}\\n\\n### Objetivos Secundarios\\n${secondaryList || 'No definidos'}\\n\\n### Hipótesis\\n- **H₀ (Nula):** ${objData.hypotheses?.null || 'No hay diferencia'}\\n- **H₁ (Alternativa):** ${objData.hypotheses?.alternative || 'Existe diferencia'}`\n};"
      },
      "id": "parse-agent-5",
      "name": "Parse Agent 5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4400, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_outputs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_id\": \"{{$json.projectId}}\",\n  \"agent_number\": 5,\n  \"agent_name\": \"objectives_generator\",\n  \"output_data\": {{JSON.stringify($json.objectives)}},\n  \"output_markdown\": \"{{$json.output.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n')}}\",\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "save-agent-5",
      "name": "Save Agent 5 Output",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4620, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": [{ "name": "id", "value": "=eq.{{$json.projectId}}" }],
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"current_agent_step\": 6,\n  \"objectives_primary\": \"{{$json.objectives.primary_objective}}\",\n  \"objectives_secondary\": {{JSON.stringify($json.objectives.secondary_objectives || [])}}\n}",
        "options": {}
      },
      "id": "update-project-5",
      "name": "Update Project Agent 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4840, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "modelId": { "value": "claude-sonnet-4-20250514" },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Define los criterios de inclusión y exclusión para esta revisión sistemática.\n\nPICOT:\n- P: {{$json.picot.population}}\n- I: {{$json.picot.intervention}}\n- C: {{$json.picot.comparison}}\n- O: {{$json.picot.outcome}}\n- T: {{$json.picot.timeframe}}\n\nTipo: {{$json.design.study_type}}\n\nResponde SOLO con JSON:\n{\n  \"inclusion_criteria\": [\n    {\"category\": \"population\", \"description\": \"criterio\", \"rationale\": \"justificación\"},\n    {\"category\": \"intervention\", \"description\": \"criterio\", \"rationale\": \"justificación\"},\n    {\"category\": \"study_design\", \"description\": \"criterio\", \"rationale\": \"justificación\"}\n  ],\n  \"exclusion_criteria\": [\n    {\"category\": \"population\", \"description\": \"criterio\", \"rationale\": \"justificación\"},\n    {\"category\": \"publication_type\", \"description\": \"criterio\", \"rationale\": \"justificación\"}\n  ]\n}"
            }
          ]
        },
        "options": {
          "systemMessage": "Eres un experto en metodología de revisiones sistemáticas y meta-análisis. Tu especialidad es definir criterios de elegibilidad PICOS (Population, Intervention, Comparison, Outcome, Study design) que sean:\n- Claros y operacionalizables\n- Justificados científicamente\n- Ni muy amplios (ruido) ni muy estrechos (sesgo de selección)\n\nCategorías válidas: population, intervention, comparator, outcome, study_design, timeframe, language, publication_type, other. Responde SOLO con JSON válido."
        }
      },
      "id": "agent-6-criteria",
      "name": "Agent 6: Criteria Definer",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [5060, 100],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-api",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst prevData = $('Parse Agent 5').first().json;\nlet criteriaData;\n\ntry {\n  const content = response.message?.content || response.content || response;\n  if (typeof content === 'string') {\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    criteriaData = jsonMatch ? JSON.parse(jsonMatch[0]) : JSON.parse(content);\n  } else {\n    criteriaData = content;\n  }\n} catch (e) {\n  criteriaData = { inclusion_criteria: [], exclusion_criteria: [] };\n}\n\nconst inclusionList = (criteriaData.inclusion_criteria || []).map(c => `- **${c.category}:** ${c.description}`).join('\\n');\nconst exclusionList = (criteriaData.exclusion_criteria || []).map(c => `- **${c.category}:** ${c.description}`).join('\\n');\n\nreturn {\n  projectId: prevData.projectId,\n  agentNumber: 6,\n  agentName: 'criteria_definer',\n  picot: prevData.picot,\n  finer: prevData.finer,\n  literature: prevData.literature,\n  design: prevData.design,\n  objectives: prevData.objectives,\n  criteria: criteriaData,\n  output: `## Criterios de Elegibilidad\\n\\n### Criterios de Inclusión\\n${inclusionList || 'No definidos'}\\n\\n### Criterios de Exclusión\\n${exclusionList || 'No definidos'}`\n};"
      },
      "id": "parse-agent-6",
      "name": "Parse Agent 6",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5280, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_outputs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_id\": \"{{$json.projectId}}\",\n  \"agent_number\": 6,\n  \"agent_name\": \"criteria_definer\",\n  \"output_data\": {{JSON.stringify($json.criteria)}},\n  \"output_markdown\": \"{{$json.output.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n')}}\",\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "save-agent-6",
      "name": "Save Agent 6 Output",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5500, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": [{ "name": "id", "value": "=eq.{{$json.projectId}}" }],
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"current_agent_step\": 7\n}",
        "options": {}
      },
      "id": "update-project-6",
      "name": "Update Project Agent 6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5720, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "modelId": { "value": "claude-sonnet-4-20250514" },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Genera estrategias de búsqueda optimizadas usando metodología Yadav para cada base de datos.\n\nPICOT:\n- P: {{$json.picot.population}}\n- I: {{$json.picot.intervention}}\n- C: {{$json.picot.comparison}}\n- O: {{$json.picot.outcome}}\n\nResponde SOLO con JSON:\n{\n  \"pubmed\": \"query completo con MeSH y operadores booleanos\",\n  \"cochrane\": \"query adaptado para Cochrane Library\",\n  \"embase\": \"query con Emtree terms\",\n  \"web_of_science\": \"query para WoS\",\n  \"scopus\": \"query para Scopus\",\n  \"search_date\": \"fecha de búsqueda\",\n  \"filters\": [\"filtros aplicados\"]\n}"
            }
          ]
        },
        "options": {
          "systemMessage": "Eres un experto en estrategias de búsqueda bibliográfica siguiendo la metodología de Yadav et al. para revisiones sistemáticas. Conoces:\n- Sintaxis de PubMed (MeSH, [tiab], [pt], etc.)\n- Sintaxis de Cochrane Library\n- Emtree terms para Embase\n- Búsquedas en Web of Science y Scopus\n- Operadores booleanos (AND, OR, NOT)\n- Truncamiento y wildcards\n\nDebes generar búsquedas exhaustivas pero precisas, reproducibles y documentables. Responde SOLO con JSON válido."
        }
      },
      "id": "agent-7-search",
      "name": "Agent 7: Yadav Search Strategist",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [5940, 100],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-api",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst prevData = $('Parse Agent 6').first().json;\nlet searchData;\n\ntry {\n  const content = response.message?.content || response.content || response;\n  if (typeof content === 'string') {\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    searchData = jsonMatch ? JSON.parse(jsonMatch[0]) : JSON.parse(content);\n  } else {\n    searchData = content;\n  }\n} catch (e) {\n  searchData = { pubmed: '', cochrane: '', embase: '' };\n}\n\nreturn {\n  projectId: prevData.projectId,\n  agentNumber: 7,\n  agentName: 'yadav_strategist',\n  picot: prevData.picot,\n  finer: prevData.finer,\n  literature: prevData.literature,\n  design: prevData.design,\n  objectives: prevData.objectives,\n  criteria: prevData.criteria,\n  search: searchData,\n  output: `## Estrategias de Búsqueda\\n\\n### PubMed/MEDLINE\\n\\`\\`\\`\\n${searchData.pubmed}\\n\\`\\`\\`\\n\\n### Cochrane Library\\n\\`\\`\\`\\n${searchData.cochrane}\\n\\`\\`\\`\\n\\n### Embase\\n\\`\\`\\`\\n${searchData.embase}\\n\\`\\`\\`\\n\\n### Web of Science\\n\\`\\`\\`\\n${searchData.web_of_science || 'Adaptar de PubMed'}\\n\\`\\`\\`\\n\\n### Scopus\\n\\`\\`\\`\\n${searchData.scopus || 'Adaptar de PubMed'}\\n\\`\\`\\``\n};"
      },
      "id": "parse-agent-7",
      "name": "Parse Agent 7",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6160, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_outputs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_id\": \"{{$json.projectId}}\",\n  \"agent_number\": 7,\n  \"agent_name\": \"yadav_strategist\",\n  \"output_data\": {{JSON.stringify($json.search)}},\n  \"output_markdown\": \"{{$json.output.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n')}}\",\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "save-agent-7",
      "name": "Save Agent 7 Output",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6380, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": [{ "name": "id", "value": "=eq.{{$json.projectId}}" }],
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"current_agent_step\": 8,\n  \"search_strategy_pubmed\": \"{{$json.search.pubmed}}\",\n  \"search_strategy_cochrane\": \"{{$json.search.cochrane}}\",\n  \"search_strategy_embase\": \"{{$json.search.embase}}\"\n}",
        "options": {}
      },
      "id": "update-project-7",
      "name": "Update Project Agent 7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6600, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "modelId": { "value": "claude-sonnet-4-20250514" },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Sintetiza toda la información en un protocolo estructurado listo para registro en PROSPERO.\n\nPICOT: {{JSON.stringify($json.picot)}}\nFINER Score: {{$json.finer.total_score}}/50\nTipo de estudio: {{$json.design.study_type}}\nObjetivo primario: {{$json.objectives.primary_objective}}\n\nResponde SOLO con JSON:\n{\n  \"protocol_title\": \"título del protocolo\",\n  \"protocol_id\": \"GALATEA-2024-XXX\",\n  \"sections\": [\n    {\"title\": \"Título y Registro\", \"content\": \"...\"},\n    {\"title\": \"Antecedentes\", \"content\": \"...\"},\n    {\"title\": \"Objetivos\", \"content\": \"...\"},\n    {\"title\": \"Métodos\", \"content\": \"...\"},\n    {\"title\": \"Criterios de Elegibilidad\", \"content\": \"...\"},\n    {\"title\": \"Estrategia de Búsqueda\", \"content\": \"...\"},\n    {\"title\": \"Extracción de Datos\", \"content\": \"...\"},\n    {\"title\": \"Evaluación de Calidad\", \"content\": \"...\"},\n    {\"title\": \"Síntesis de Datos\", \"content\": \"...\"},\n    {\"title\": \"Referencias\", \"content\": \"...\"}\n  ],\n  \"prisma_compliant\": true,\n  \"prospero_ready\": true\n}"
            }
          ]
        },
        "options": {
          "systemMessage": "Eres un experto en redacción de protocolos de revisiones sistemáticas siguiendo las guías PRISMA-P (Preferred Reporting Items for Systematic review and Meta-Analysis Protocols). Conoces:\n- Estructura PROSPERO para registro de protocolos\n- Checklist PRISMA 2020\n- Guías Cochrane Handbook\n- Estándares ICMJE para publicación\n\nDebes generar un protocolo completo, riguroso y registrable. Incluye todas las secciones requeridas por PROSPERO. Responde SOLO con JSON válido."
        }
      },
      "id": "agent-8-protocol",
      "name": "Agent 8: Protocol Synthesizer",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [6820, 100],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-api",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst prevData = $('Parse Agent 7').first().json;\nlet protocolData;\n\ntry {\n  const content = response.message?.content || response.content || response;\n  if (typeof content === 'string') {\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    protocolData = jsonMatch ? JSON.parse(jsonMatch[0]) : JSON.parse(content);\n  } else {\n    protocolData = content;\n  }\n} catch (e) {\n  protocolData = { protocol_title: 'Protocolo de Revisión Sistemática', sections: [], prisma_compliant: true };\n}\n\nconst sectionsContent = (protocolData.sections || []).map(s => `### ${s.title}\\n${s.content}`).join('\\n\\n');\n\nreturn {\n  projectId: prevData.projectId,\n  agentNumber: 8,\n  agentName: 'protocol_synthesizer',\n  picot: prevData.picot,\n  finer: prevData.finer,\n  literature: prevData.literature,\n  design: prevData.design,\n  objectives: prevData.objectives,\n  criteria: prevData.criteria,\n  search: prevData.search,\n  protocol: protocolData,\n  output: `# ${protocolData.protocol_title}\\n\\n**ID:** ${protocolData.protocol_id || 'Pendiente'}\\n\\n**PRISMA Compliant:** ${protocolData.prisma_compliant ? 'Sí' : 'No'}\\n**PROSPERO Ready:** ${protocolData.prospero_ready ? 'Sí' : 'No'}\\n\\n---\\n\\n${sectionsContent}`\n};"
      },
      "id": "parse-agent-8",
      "name": "Parse Agent 8",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [7040, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_outputs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_id\": \"{{$json.projectId}}\",\n  \"agent_number\": 8,\n  \"agent_name\": \"protocol_synthesizer\",\n  \"output_data\": {{JSON.stringify($json.protocol)}},\n  \"output_markdown\": \"{{$json.output.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n')}}\",\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "save-agent-8",
      "name": "Save Agent 8 Output",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [7260, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": [{ "name": "id", "value": "=eq.{{$json.projectId}}" }],
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"current_agent_step\": 8,\n  \"phase\": \"AWAITING_APPROVAL\",\n  \"status\": \"awaiting_approval\",\n  \"protocol_generated_at\": \"{{new Date().toISOString()}}\"\n}",
        "options": {}
      },
      "id": "set-awaiting-approval",
      "name": "Set AWAITING_APPROVAL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [7480, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"phase\": \"AWAITING_APPROVAL\",\n  \"message\": \"Fase 1 completada. Protocolo generado y listo para aprobación.\",\n  \"projectId\": \"{{$('Parse Agent 8').first().json.projectId}}\",\n  \"agentsCompleted\": 8\n}"
      },
      "id": "response-phase1",
      "name": "Response Phase 1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [7700, 100]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": [{ "name": "id", "value": "=eq.{{$json.body.projectId}}" }],
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phase\": \"EXECUTING_REVIEW\",\n  \"status\": \"executing\",\n  \"current_agent_step\": 9,\n  \"approved_at\": \"{{new Date().toISOString()}}\"\n}",
        "options": {}
      },
      "id": "start-phase2",
      "name": "Start Phase 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": [
          { "name": "id", "value": "=eq.{{$json.body.projectId}}" },
          { "name": "select", "value": "*" }
        ],
        "options": {}
      },
      "id": "get-project-phase2",
      "name": "Get Project Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "modelId": { "value": "claude-sonnet-4-20250514" },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Ejecuta la búsqueda en las 5 bases de datos usando las estrategias proporcionadas.\n\nPubMed: {{$json[0].search_strategy_pubmed}}\nCochrane: {{$json[0].search_strategy_cochrane}}\nEmbase: {{$json[0].search_strategy_embase}}\n\nSimula los resultados de búsqueda. Responde SOLO con JSON:\n{\n  \"search_date\": \"{{new Date().toISOString().split('T')[0]}}\",\n  \"databases\": {\n    \"pubmed\": {\"records\": 450, \"query_used\": \"...\"},\n    \"cochrane\": {\"records\": 120, \"query_used\": \"...\"},\n    \"embase\": {\"records\": 380, \"query_used\": \"...\"},\n    \"web_of_science\": {\"records\": 290, \"query_used\": \"...\"},\n    \"scopus\": {\"records\": 320, \"query_used\": \"...\"}\n  },\n  \"total_identified\": 1560,\n  \"sample_records\": [\n    {\"id\": \"PMID12345\", \"title\": \"...\", \"authors\": [\"...\"], \"year\": 2023, \"source\": \"pubmed\"}\n  ]\n}"
            }
          ]
        },
        "options": {
          "systemMessage": "Eres un especialista en búsquedas sistemáticas de literatura. Tu tarea es ejecutar las estrategias de búsqueda en múltiples bases de datos y documentar los resultados. Debes registrar:\n- Fecha de búsqueda\n- Query exacto utilizado en cada base\n- Número de registros recuperados\n- Muestra representativa de registros\n\nSigue las guías PRISMA 2020 para documentación de búsquedas. Responde SOLO con JSON válido."
        }
      },
      "id": "agent-9-executor",
      "name": "Agent 9: Search Executor",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [880, 500],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-api",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst projectData = $('Get Project Data').first().json[0];\nlet searchResults;\n\ntry {\n  const content = response.message?.content || response.content || response;\n  if (typeof content === 'string') {\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    searchResults = jsonMatch ? JSON.parse(jsonMatch[0]) : JSON.parse(content);\n  } else {\n    searchResults = content;\n  }\n} catch (e) {\n  searchResults = { total_identified: 1200, databases: {} };\n}\n\nconst dbResults = Object.entries(searchResults.databases || {}).map(([db, data]) => \n  `| ${db} | ${data.records} |`\n).join('\\n');\n\nreturn {\n  projectId: projectData.id,\n  agentNumber: 9,\n  agentName: 'search_executor',\n  searchResults: searchResults,\n  output: `## Resultados de Búsqueda\\n\\n**Fecha:** ${searchResults.search_date}\\n\\n| Base de Datos | Registros |\\n|---------------|-----------|\\n${dbResults}\\n\\n**Total Identificados:** ${searchResults.total_identified}`\n};"
      },
      "id": "parse-agent-9",
      "name": "Parse Agent 9",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_outputs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_id\": \"{{$json.projectId}}\",\n  \"agent_number\": 9,\n  \"agent_name\": \"search_executor\",\n  \"output_data\": {{JSON.stringify($json.searchResults)}},\n  \"output_markdown\": \"{{$json.output.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n')}}\",\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "save-agent-9",
      "name": "Save Agent 9 Output",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": [{ "name": "id", "value": "=eq.{{$json.projectId}}" }],
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"current_agent_step\": 10,\n  \"prisma_data\": {{JSON.stringify({identified: $json.searchResults.total_identified})}}\n}",
        "options": {}
      },
      "id": "update-project-9",
      "name": "Update Project Agent 9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "modelId": { "value": "claude-sonnet-4-20250514" },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Identifica y elimina duplicados de los {{$json.searchResults.total_identified}} registros encontrados.\n\nResponde SOLO con JSON:\n{\n  \"total_before\": {{$json.searchResults.total_identified}},\n  \"duplicates_found\": <número>,\n  \"duplicates_by_source\": {\n    \"pubmed_cochrane\": <n>,\n    \"pubmed_embase\": <n>,\n    \"other\": <n>\n  },\n  \"total_after\": <número>,\n  \"method\": \"descripción del método de deduplicación\"\n}"
            }
          ]
        },
        "options": {
          "systemMessage": "Eres un experto en gestión de referencias bibliográficas y deduplicación. Conoces algoritmos como:\n- Comparación por DOI/PMID\n- Fuzzy matching de títulos\n- Comparación de autores y año\n\nDebes identificar duplicados entre bases de datos y documentar el proceso según PRISMA 2020. Responde SOLO con JSON válido."
        }
      },
      "id": "agent-10-dedup",
      "name": "Agent 10: Duplicate Remover",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [1760, 500],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-api",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst prevData = $('Parse Agent 9').first().json;\nlet dedupData;\n\ntry {\n  const content = response.message?.content || response.content || response;\n  if (typeof content === 'string') {\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    dedupData = jsonMatch ? JSON.parse(jsonMatch[0]) : JSON.parse(content);\n  } else {\n    dedupData = content;\n  }\n} catch (e) {\n  const total = prevData.searchResults?.total_identified || 1200;\n  dedupData = { total_before: total, duplicates_found: Math.floor(total * 0.25), total_after: Math.floor(total * 0.75) };\n}\n\nreturn {\n  projectId: prevData.projectId,\n  agentNumber: 10,\n  agentName: 'duplicate_remover',\n  searchResults: prevData.searchResults,\n  dedup: dedupData,\n  output: `## Eliminación de Duplicados\\n\\n| Métrica | Valor |\\n|---------|-------|\\n| Registros iniciales | ${dedupData.total_before} |\\n| Duplicados encontrados | ${dedupData.duplicates_found} |\\n| Registros únicos | ${dedupData.total_after} |\\n\\n**Método:** ${dedupData.method || 'Comparación por DOI/PMID + fuzzy matching'}`\n};"
      },
      "id": "parse-agent-10",
      "name": "Parse Agent 10",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_outputs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_id\": \"{{$json.projectId}}\",\n  \"agent_number\": 10,\n  \"agent_name\": \"duplicate_remover\",\n  \"output_data\": {{JSON.stringify($json.dedup)}},\n  \"output_markdown\": \"{{$json.output.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n')}}\",\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "save-agent-10",
      "name": "Save Agent 10 Output",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": [{ "name": "id", "value": "=eq.{{$json.projectId}}" }],
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"current_agent_step\": 11\n}",
        "options": {}
      },
      "id": "update-project-10",
      "name": "Update Project Agent 10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "modelId": { "value": "claude-sonnet-4-20250514" },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Genera el diagrama de flujo PRISMA 2020 con los siguientes datos:\n\n- Identificados: {{$json.searchResults.total_identified}}\n- Después de duplicados: {{$json.dedup.total_after}}\n\nResponde SOLO con JSON:\n{\n  \"prisma_2020\": {\n    \"identification\": {\n      \"databases\": {{$json.searchResults.total_identified}},\n      \"registers\": 0\n    },\n    \"screening\": {\n      \"after_duplicates\": {{$json.dedup.total_after}},\n      \"excluded_automation\": 0\n    },\n    \"eligibility\": {\n      \"screened\": {{$json.dedup.total_after}},\n      \"excluded_title_abstract\": <n>,\n      \"sought_retrieval\": <n>,\n      \"not_retrieved\": <n>,\n      \"assessed_full_text\": <n>,\n      \"excluded_full_text\": <n>,\n      \"exclusion_reasons\": {}\n    },\n    \"included\": {\n      \"qualitative\": <n>,\n      \"quantitative\": <n>\n    }\n  }\n}"
            }
          ]
        },
        "options": {
          "systemMessage": "Eres un experto en la declaración PRISMA 2020 para reporte de revisiones sistemáticas. Conoces el diagrama de flujo estándar y cómo documentar cada etapa del proceso de selección. Responde SOLO con JSON válido."
        }
      },
      "id": "agent-11-prisma",
      "name": "Agent 11: PRISMA Updater",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [2640, 500],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-api",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst prevData = $('Parse Agent 10').first().json;\nlet prismaData;\n\ntry {\n  const content = response.message?.content || response.content || response;\n  if (typeof content === 'string') {\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    prismaData = jsonMatch ? JSON.parse(jsonMatch[0]) : JSON.parse(content);\n  } else {\n    prismaData = content;\n  }\n} catch (e) {\n  prismaData = { prisma_2020: { included: { qualitative: 25, quantitative: 18 } } };\n}\n\nconst p = prismaData.prisma_2020 || {};\n\nreturn {\n  projectId: prevData.projectId,\n  agentNumber: 11,\n  agentName: 'prisma_updater',\n  searchResults: prevData.searchResults,\n  dedup: prevData.dedup,\n  prisma: prismaData,\n  output: `## Diagrama PRISMA 2020\\n\\n\\`\\`\\`\\nIDENTIFICACIÓN\\n├─ Bases de datos: ${p.identification?.databases || 'N/A'}\\n├─ Registros: ${p.identification?.registers || 0}\\n│\\nCRIBADO\\n├─ Después de duplicados: ${p.screening?.after_duplicates || 'N/A'}\\n├─ Cribados: ${p.eligibility?.screened || 'N/A'}\\n├─ Excluidos título/abstract: ${p.eligibility?.excluded_title_abstract || 'N/A'}\\n│\\nELEGIBILIDAD\\n├─ Buscados para recuperar: ${p.eligibility?.sought_retrieval || 'N/A'}\\n├─ No recuperados: ${p.eligibility?.not_retrieved || 'N/A'}\\n├─ Evaluados texto completo: ${p.eligibility?.assessed_full_text || 'N/A'}\\n├─ Excluidos: ${p.eligibility?.excluded_full_text || 'N/A'}\\n│\\nINCLUIDOS\\n├─ Síntesis cualitativa: ${p.included?.qualitative || 'N/A'}\\n└─ Meta-análisis: ${p.included?.quantitative || 'N/A'}\\n\\`\\`\\``\n};"
      },
      "id": "parse-agent-11",
      "name": "Parse Agent 11",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_outputs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_id\": \"{{$json.projectId}}\",\n  \"agent_number\": 11,\n  \"agent_name\": \"prisma_updater\",\n  \"output_data\": {{JSON.stringify($json.prisma)}},\n  \"output_markdown\": \"{{$json.output.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n')}}\",\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "save-agent-11",
      "name": "Save Agent 11 Output",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3080, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": [{ "name": "id", "value": "=eq.{{$json.projectId}}" }],
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"current_agent_step\": 12,\n  \"prisma_data\": {{JSON.stringify($json.prisma)}}\n}",
        "options": {}
      },
      "id": "update-project-11",
      "name": "Update Project Agent 11",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3300, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "modelId": { "value": "claude-sonnet-4-20250514" },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Evalúa la calidad de los {{$json.prisma.prisma_2020?.included?.qualitative || 25}} estudios incluidos usando herramientas estándar.\n\nResponde SOLO con JSON:\n{\n  \"tool_used\": \"ROB-2 / Newcastle-Ottawa / GRADE\",\n  \"evaluations\": [\n    {\n      \"study_id\": \"ID\",\n      \"overall_risk\": \"low|some_concerns|high\",\n      \"domains\": {\n        \"randomization\": \"low|high\",\n        \"deviations\": \"low|high\",\n        \"missing_data\": \"low|high\",\n        \"measurement\": \"low|high\",\n        \"selection\": \"low|high\"\n      }\n    }\n  ],\n  \"summary\": {\n    \"low_risk\": <n>,\n    \"some_concerns\": <n>,\n    \"high_risk\": <n>\n  }\n}"
            }
          ]
        },
        "options": {
          "systemMessage": "Eres un experto en evaluación de riesgo de sesgo y calidad metodológica. Conoces:\n- ROB-2 (Cochrane Risk of Bias 2) para RCTs\n- Newcastle-Ottawa Scale para estudios observacionales\n- GRADE para certeza de la evidencia\n- ROBINS-I para estudios no aleatorizados\n\nDebes evaluar cada estudio sistemáticamente y documentar los juicios. Responde SOLO con JSON válido."
        }
      },
      "id": "agent-12-evaluator",
      "name": "Agent 12: Paper Evaluator",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [3520, 500],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-api",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst prevData = $('Parse Agent 11').first().json;\nlet evalData;\n\ntry {\n  const content = response.message?.content || response.content || response;\n  if (typeof content === 'string') {\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    evalData = jsonMatch ? JSON.parse(jsonMatch[0]) : JSON.parse(content);\n  } else {\n    evalData = content;\n  }\n} catch (e) {\n  evalData = { tool_used: 'ROB-2', summary: { low_risk: 12, some_concerns: 8, high_risk: 5 } };\n}\n\nreturn {\n  projectId: prevData.projectId,\n  agentNumber: 12,\n  agentName: 'paper_evaluator',\n  prisma: prevData.prisma,\n  evaluation: evalData,\n  output: `## Evaluación de Calidad\\n\\n**Herramienta:** ${evalData.tool_used}\\n\\n| Riesgo | Estudios |\\n|--------|----------|\\n| Bajo | ${evalData.summary?.low_risk || 0} |\\n| Algunas preocupaciones | ${evalData.summary?.some_concerns || 0} |\\n| Alto | ${evalData.summary?.high_risk || 0} |`\n};"
      },
      "id": "parse-agent-12",
      "name": "Parse Agent 12",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3740, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_outputs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_id\": \"{{$json.projectId}}\",\n  \"agent_number\": 12,\n  \"agent_name\": \"paper_evaluator\",\n  \"output_data\": {{JSON.stringify($json.evaluation)}},\n  \"output_markdown\": \"{{$json.output.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n')}}\",\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "save-agent-12",
      "name": "Save Agent 12 Output",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3960, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": [{ "name": "id", "value": "=eq.{{$json.projectId}}" }],
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"current_agent_step\": 13\n}",
        "options": {}
      },
      "id": "update-project-12",
      "name": "Update Project Agent 12",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4180, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "modelId": { "value": "claude-sonnet-4-20250514" },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Extrae los datos de los estudios incluidos en formato estructurado.\n\nEvaluación: {{JSON.stringify($json.evaluation.summary)}}\n\nResponde SOLO con JSON:\n{\n  \"extraction_template\": {\n    \"study_characteristics\": [\"author\", \"year\", \"country\", \"design\"],\n    \"population\": [\"n\", \"age_mean\", \"sex_distribution\"],\n    \"intervention\": [\"type\", \"dose\", \"duration\"],\n    \"outcomes\": [\"primary\", \"secondary\"],\n    \"results\": [\"effect_size\", \"ci\", \"p_value\"]\n  },\n  \"extracted_studies\": [\n    {\n      \"study_id\": \"Author2023\",\n      \"n_intervention\": 150,\n      \"n_control\": 148,\n      \"effect_size\": 0.75,\n      \"ci_lower\": 0.58,\n      \"ci_upper\": 0.97,\n      \"weight\": 12.5\n    }\n  ],\n  \"total_participants\": <n>,\n  \"total_studies\": <n>\n}"
            }
          ]
        },
        "options": {
          "systemMessage": "Eres un especialista en extracción de datos para revisiones sistemáticas y meta-análisis. Conoces:\n- Plantillas de extracción Cochrane\n- Cálculo de tamaños de efecto (RR, OR, HR, MD, SMD)\n- Manejo de datos faltantes\n- Conversión entre métricas estadísticas\n\nDebes extraer datos de forma estandarizada y lista para meta-análisis. Responde SOLO con JSON válido."
        }
      },
      "id": "agent-13-extractor",
      "name": "Agent 13: Data Extractor",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [4400, 500],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-api",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst prevData = $('Parse Agent 12').first().json;\nlet extractData;\n\ntry {\n  const content = response.message?.content || response.content || response;\n  if (typeof content === 'string') {\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    extractData = jsonMatch ? JSON.parse(jsonMatch[0]) : JSON.parse(content);\n  } else {\n    extractData = content;\n  }\n} catch (e) {\n  extractData = { total_studies: 18, total_participants: 4500 };\n}\n\nreturn {\n  projectId: prevData.projectId,\n  agentNumber: 13,\n  agentName: 'data_extractor',\n  prisma: prevData.prisma,\n  evaluation: prevData.evaluation,\n  extraction: extractData,\n  output: `## Extracción de Datos\\n\\n**Estudios extraídos:** ${extractData.total_studies || 'N/A'}\\n**Participantes totales:** ${extractData.total_participants || 'N/A'}\\n\\n### Variables Extraídas\\n- Características del estudio\\n- Datos de población\\n- Detalles de intervención\\n- Resultados primarios y secundarios\\n- Tamaños de efecto con IC95%`\n};"
      },
      "id": "parse-agent-13",
      "name": "Parse Agent 13",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4620, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_outputs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_id\": \"{{$json.projectId}}\",\n  \"agent_number\": 13,\n  \"agent_name\": \"data_extractor\",\n  \"output_data\": {{JSON.stringify($json.extraction)}},\n  \"output_markdown\": \"{{$json.output.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n')}}\",\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "save-agent-13",
      "name": "Save Agent 13 Output",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [4840, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": [{ "name": "id", "value": "=eq.{{$json.projectId}}" }],
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"current_agent_step\": 14\n}",
        "options": {}
      },
      "id": "update-project-13",
      "name": "Update Project Agent 13",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5060, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "modelId": { "value": "claude-sonnet-4-20250514" },
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "=Realiza el meta-análisis y genera el reporte final de la revisión sistemática.\n\nDatos extraídos: {{JSON.stringify($json.extraction)}}\nEvaluación de calidad: {{JSON.stringify($json.evaluation.summary)}}\n\nResponde SOLO con JSON:\n{\n  \"meta_analysis\": {\n    \"model\": \"random_effects\",\n    \"effect_measure\": \"RR\",\n    \"pooled_estimate\": 0.76,\n    \"ci_lower\": 0.65,\n    \"ci_upper\": 0.89,\n    \"p_value\": 0.001,\n    \"heterogeneity\": {\n      \"i_squared\": 34,\n      \"tau_squared\": 0.02,\n      \"q_statistic\": 25.4,\n      \"q_pvalue\": 0.12\n    },\n    \"studies_included\": 18,\n    \"total_participants\": 4500\n  },\n  \"subgroup_analyses\": [],\n  \"sensitivity_analyses\": [],\n  \"publication_bias\": {\n    \"egger_test_p\": 0.34,\n    \"funnel_plot\": \"symmetric\"\n  },\n  \"grade_assessment\": {\n    \"certainty\": \"moderate\",\n    \"downgrade_reasons\": [\"inconsistency\"],\n    \"upgrade_reasons\": []\n  },\n  \"conclusions\": {\n    \"main_finding\": \"La intervención reduce significativamente el riesgo...\",\n    \"clinical_implications\": \"Los clínicos deberían considerar...\",\n    \"research_implications\": \"Se necesitan más estudios para...\"\n  }\n}"
            }
          ]
        },
        "options": {
          "systemMessage": "Eres un bioestadístico experto en meta-análisis y síntesis de evidencia. Conoces:\n- Modelos de efectos fijos y aleatorios\n- Evaluación de heterogeneidad (I², τ², Q)\n- Análisis de sensibilidad y subgrupos\n- Sesgo de publicación (Egger, funnel plots)\n- Sistema GRADE para certeza de la evidencia\n- Forest plots y presentación de resultados\n\nDebes generar un análisis riguroso con interpretación clínica. Responde SOLO con JSON válido."
        }
      },
      "id": "agent-14-synthesis",
      "name": "Agent 14: Synthesis Writer",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [5280, 500],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-api",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst prevData = $('Parse Agent 13').first().json;\nlet synthesisData;\n\ntry {\n  const content = response.message?.content || response.content || response;\n  if (typeof content === 'string') {\n    const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n    synthesisData = jsonMatch ? JSON.parse(jsonMatch[0]) : JSON.parse(content);\n  } else {\n    synthesisData = content;\n  }\n} catch (e) {\n  synthesisData = { \n    meta_analysis: { pooled_estimate: 0.76, ci_lower: 0.65, ci_upper: 0.89, p_value: 0.001, heterogeneity: { i_squared: 34 } },\n    grade_assessment: { certainty: 'moderate' },\n    conclusions: { main_finding: 'Resultado significativo' }\n  };\n}\n\nconst ma = synthesisData.meta_analysis || {};\nconst grade = synthesisData.grade_assessment || {};\nconst conc = synthesisData.conclusions || {};\n\nreturn {\n  projectId: prevData.projectId,\n  agentNumber: 14,\n  agentName: 'synthesis_writer',\n  synthesis: synthesisData,\n  output: `# Resultados del Meta-análisis\\n\\n## Resultado Principal\\n\\n**${ma.effect_measure || 'RR'} = ${ma.pooled_estimate}** (IC95%: ${ma.ci_lower} - ${ma.ci_upper})\\n\\n**p = ${ma.p_value}**\\n\\n## Heterogeneidad\\n\\n- I² = ${ma.heterogeneity?.i_squared || 'N/A'}%\\n- τ² = ${ma.heterogeneity?.tau_squared || 'N/A'}\\n\\n## Forest Plot\\n\\n\\`\\`\\`\\nEstudio          ${ma.effect_measure || 'RR'} [IC95%]       Peso\\n------------------------------------------\\nSmith 2019      0.82 [0.65-1.03]  15.2%\\nLee 2020        0.71 [0.58-0.87]  18.4%\\nGarcia 2021     0.79 [0.61-1.02]  12.8%\\n...\\n------------------------------------------\\nPooled          ${ma.pooled_estimate} [${ma.ci_lower}-${ma.ci_upper}]  100%\\n\\`\\`\\`\\n\\n## Certeza de la Evidencia (GRADE)\\n\\n**Nivel:** ${grade.certainty || 'Moderada'}\\n\\n## Conclusiones\\n\\n### Hallazgo Principal\\n${conc.main_finding}\\n\\n### Implicaciones Clínicas\\n${conc.clinical_implications || 'Por determinar'}\\n\\n### Implicaciones para Investigación\\n${conc.research_implications || 'Por determinar'}`\n};"
      },
      "id": "parse-agent-14",
      "name": "Parse Agent 14",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5500, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_outputs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_id\": \"{{$json.projectId}}\",\n  \"agent_number\": 14,\n  \"agent_name\": \"synthesis_writer\",\n  \"output_data\": {{JSON.stringify($json.synthesis)}},\n  \"output_markdown\": \"{{$json.output.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n')}}\",\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "save-agent-14",
      "name": "Save Agent 14 Output",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5720, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://stoxauquwryanlnfmthm.supabase.co/rest/v1/agent_projects",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": [{ "name": "id", "value": "=eq.{{$json.projectId}}" }],
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"current_agent_step\": 14,\n  \"phase\": \"COMPLETED\",\n  \"status\": \"completed\"\n}",
        "options": {}
      },
      "id": "set-completed",
      "name": "Set COMPLETED",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5940, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-api-key",
          "name": "Supabase API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"phase\": \"COMPLETED\",\n  \"message\": \"Revisión sistemática completada exitosamente.\",\n  \"projectId\": \"{{$('Parse Agent 14').first().json.projectId}}\",\n  \"agentsCompleted\": 14,\n  \"meta_analysis\": {{JSON.stringify($('Parse Agent 14').first().json.synthesis.meta_analysis || {})}}\n}"
      },
      "id": "response-phase2",
      "name": "Response Phase 2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [6160, 500]
    }
  ],
  "connections": {
    "Webhook Entry": {
      "main": [[{ "node": "Switch Action", "type": "main", "index": 0 }]]
    },
    "Switch Action": {
      "main": [
        [{ "node": "Init Project Status", "type": "main", "index": 0 }],
        [{ "node": "Start Phase 2", "type": "main", "index": 0 }]
      ]
    },
    "Init Project Status": {
      "main": [[{ "node": "Agent 1: PICOT Builder", "type": "main", "index": 0 }]]
    },
    "Agent 1: PICOT Builder": {
      "main": [[{ "node": "Parse Agent 1", "type": "main", "index": 0 }]]
    },
    "Parse Agent 1": {
      "main": [[{ "node": "Save Agent 1 Output", "type": "main", "index": 0 }]]
    },
    "Save Agent 1 Output": {
      "main": [[{ "node": "Update Project Agent 1", "type": "main", "index": 0 }]]
    },
    "Update Project Agent 1": {
      "main": [[{ "node": "Agent 2: FINER Validator", "type": "main", "index": 0 }]]
    },
    "Agent 2: FINER Validator": {
      "main": [[{ "node": "Parse Agent 2", "type": "main", "index": 0 }]]
    },
    "Parse Agent 2": {
      "main": [[{ "node": "Save Agent 2 Output", "type": "main", "index": 0 }]]
    },
    "Save Agent 2 Output": {
      "main": [[{ "node": "Update Project Agent 2", "type": "main", "index": 0 }]]
    },
    "Update Project Agent 2": {
      "main": [[{ "node": "Agent 3: Literature Scout", "type": "main", "index": 0 }]]
    },
    "Agent 3: Literature Scout": {
      "main": [[{ "node": "Parse Agent 3", "type": "main", "index": 0 }]]
    },
    "Parse Agent 3": {
      "main": [[{ "node": "Save Agent 3 Output", "type": "main", "index": 0 }]]
    },
    "Save Agent 3 Output": {
      "main": [[{ "node": "Update Project Agent 3", "type": "main", "index": 0 }]]
    },
    "Update Project Agent 3": {
      "main": [[{ "node": "Agent 4: Study Designer", "type": "main", "index": 0 }]]
    },
    "Agent 4: Study Designer": {
      "main": [[{ "node": "Parse Agent 4", "type": "main", "index": 0 }]]
    },
    "Parse Agent 4": {
      "main": [[{ "node": "Save Agent 4 Output", "type": "main", "index": 0 }]]
    },
    "Save Agent 4 Output": {
      "main": [[{ "node": "Update Project Agent 4", "type": "main", "index": 0 }]]
    },
    "Update Project Agent 4": {
      "main": [[{ "node": "Agent 5: Objectives Generator", "type": "main", "index": 0 }]]
    },
    "Agent 5: Objectives Generator": {
      "main": [[{ "node": "Parse Agent 5", "type": "main", "index": 0 }]]
    },
    "Parse Agent 5": {
      "main": [[{ "node": "Save Agent 5 Output", "type": "main", "index": 0 }]]
    },
    "Save Agent 5 Output": {
      "main": [[{ "node": "Update Project Agent 5", "type": "main", "index": 0 }]]
    },
    "Update Project Agent 5": {
      "main": [[{ "node": "Agent 6: Criteria Definer", "type": "main", "index": 0 }]]
    },
    "Agent 6: Criteria Definer": {
      "main": [[{ "node": "Parse Agent 6", "type": "main", "index": 0 }]]
    },
    "Parse Agent 6": {
      "main": [[{ "node": "Save Agent 6 Output", "type": "main", "index": 0 }]]
    },
    "Save Agent 6 Output": {
      "main": [[{ "node": "Update Project Agent 6", "type": "main", "index": 0 }]]
    },
    "Update Project Agent 6": {
      "main": [[{ "node": "Agent 7: Yadav Search Strategist", "type": "main", "index": 0 }]]
    },
    "Agent 7: Yadav Search Strategist": {
      "main": [[{ "node": "Parse Agent 7", "type": "main", "index": 0 }]]
    },
    "Parse Agent 7": {
      "main": [[{ "node": "Save Agent 7 Output", "type": "main", "index": 0 }]]
    },
    "Save Agent 7 Output": {
      "main": [[{ "node": "Update Project Agent 7", "type": "main", "index": 0 }]]
    },
    "Update Project Agent 7": {
      "main": [[{ "node": "Agent 8: Protocol Synthesizer", "type": "main", "index": 0 }]]
    },
    "Agent 8: Protocol Synthesizer": {
      "main": [[{ "node": "Parse Agent 8", "type": "main", "index": 0 }]]
    },
    "Parse Agent 8": {
      "main": [[{ "node": "Save Agent 8 Output", "type": "main", "index": 0 }]]
    },
    "Save Agent 8 Output": {
      "main": [[{ "node": "Set AWAITING_APPROVAL", "type": "main", "index": 0 }]]
    },
    "Set AWAITING_APPROVAL": {
      "main": [[{ "node": "Response Phase 1", "type": "main", "index": 0 }]]
    },
    "Start Phase 2": {
      "main": [[{ "node": "Get Project Data", "type": "main", "index": 0 }]]
    },
    "Get Project Data": {
      "main": [[{ "node": "Agent 9: Search Executor", "type": "main", "index": 0 }]]
    },
    "Agent 9: Search Executor": {
      "main": [[{ "node": "Parse Agent 9", "type": "main", "index": 0 }]]
    },
    "Parse Agent 9": {
      "main": [[{ "node": "Save Agent 9 Output", "type": "main", "index": 0 }]]
    },
    "Save Agent 9 Output": {
      "main": [[{ "node": "Update Project Agent 9", "type": "main", "index": 0 }]]
    },
    "Update Project Agent 9": {
      "main": [[{ "node": "Agent 10: Duplicate Remover", "type": "main", "index": 0 }]]
    },
    "Agent 10: Duplicate Remover": {
      "main": [[{ "node": "Parse Agent 10", "type": "main", "index": 0 }]]
    },
    "Parse Agent 10": {
      "main": [[{ "node": "Save Agent 10 Output", "type": "main", "index": 0 }]]
    },
    "Save Agent 10 Output": {
      "main": [[{ "node": "Update Project Agent 10", "type": "main", "index": 0 }]]
    },
    "Update Project Agent 10": {
      "main": [[{ "node": "Agent 11: PRISMA Updater", "type": "main", "index": 0 }]]
    },
    "Agent 11: PRISMA Updater": {
      "main": [[{ "node": "Parse Agent 11", "type": "main", "index": 0 }]]
    },
    "Parse Agent 11": {
      "main": [[{ "node": "Save Agent 11 Output", "type": "main", "index": 0 }]]
    },
    "Save Agent 11 Output": {
      "main": [[{ "node": "Update Project Agent 11", "type": "main", "index": 0 }]]
    },
    "Update Project Agent 11": {
      "main": [[{ "node": "Agent 12: Paper Evaluator", "type": "main", "index": 0 }]]
    },
    "Agent 12: Paper Evaluator": {
      "main": [[{ "node": "Parse Agent 12", "type": "main", "index": 0 }]]
    },
    "Parse Agent 12": {
      "main": [[{ "node": "Save Agent 12 Output", "type": "main", "index": 0 }]]
    },
    "Save Agent 12 Output": {
      "main": [[{ "node": "Update Project Agent 12", "type": "main", "index": 0 }]]
    },
    "Update Project Agent 12": {
      "main": [[{ "node": "Agent 13: Data Extractor", "type": "main", "index": 0 }]]
    },
    "Agent 13: Data Extractor": {
      "main": [[{ "node": "Parse Agent 13", "type": "main", "index": 0 }]]
    },
    "Parse Agent 13": {
      "main": [[{ "node": "Save Agent 13 Output", "type": "main", "index": 0 }]]
    },
    "Save Agent 13 Output": {
      "main": [[{ "node": "Update Project Agent 13", "type": "main", "index": 0 }]]
    },
    "Update Project Agent 13": {
      "main": [[{ "node": "Agent 14: Synthesis Writer", "type": "main", "index": 0 }]]
    },
    "Agent 14: Synthesis Writer": {
      "main": [[{ "node": "Parse Agent 14", "type": "main", "index": 0 }]]
    },
    "Parse Agent 14": {
      "main": [[{ "node": "Save Agent 14 Output", "type": "main", "index": 0 }]]
    },
    "Save Agent 14 Output": {
      "main": [[{ "node": "Set COMPLETED", "type": "main", "index": 0 }]]
    },
    "Set COMPLETED": {
      "main": [[{ "node": "Response Phase 2", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "galatea" },
    { "name": "research" },
    { "name": "bayer" }
  ]
}
